<div id="test-ride-modal-overlay" class="modal-overlay">
    <div class="modal-content">
        <button id="close-test-ride-modal" class="modal-close-button" aria-label="Close modal">×</button>
        <h3>Contact me via</h3>
        <div class="modal-contact-links">
            <a href="https://x.com/godwin_france" aria-label="Twitter" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.linkedin.com/in/godwin-france/" aria-label="LinkedIn" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://wa.me/233268712345" aria-label="WhatsApp" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="mailto:gofrance01@gmail.com" aria-label="Email" target="_blank">
            <i class="bi bi-envelope"></i>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="footer-top-content">
        <div class="footer-grid">
            <div class="footer-branding">
                <a href="../index.html" class="footer-logo">
                    <img src="../images/saharansub_Logo.png" alt="Saharansub Logo">
                    <span>Saharansub</span>
                </a>
                <div class="footer-warning">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <p>Riding a motorcycle on the main road requires that you observe all safety precautions. Always wear your helmet.</p>
                </div>
            </div>
            <div class="footer-sitemap">
                <h4>Site Map</h4>
                <ul>
                    <li><a href="#">STEAM Advocacy</a></li>
                    <li><a href="#">Market Entry</a></li>
                    <li><a href="#">Tech Sales</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Insights</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-links-footer">
            <a href="https://x.com/godwin_france" aria-label="Twitter" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.linkedin.com/in/godwin-france/" aria-label="LinkedIn" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://web.facebook.com/SaharanSub" aria-label="Facebook" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.tiktok.com/@saharansub" aria-label="TikTok" target="_blank"><i class="bi bi-tiktok"></i></a>
            <a href="https://wa.me/233268712345" aria-label="WhatsApp" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="mailto:gofrance01@gmail.com" aria-label="Email" target="_blank"><i class="bi bi-envelope"></i></a>
    </div>
    <p class="copyright">©2025 Copyright <strong><span>Saharansub</span></strong>. All Rights Reserved</p>
</div>