SUPABASE_URL=https://xfkguhvailhntmyratbl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhma2d1aHZhaWxobnRteXJhdGJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4NTgyNjgsImV4cCI6MjA3NzQzNDI2OH0.2JGSlS-xeB9jn7KnXjjlNZ8025vEH0yWOSpXskrwxI4
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhma2d1aHZhaWxobnRteXJhdGJsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTg1ODI2OCwiZXhwIjoyMDc3NDM0MjY4fQ.sfYtUK_EVgboXMkv2KTFhAkrCTjm2gOl4HEIWkwOVoM
PORT=3000